<?xml version="1.0"?>
<!--
/**
 * @category  Perico
 * @package   MagentoChallenge
 * @version   1.0.0
 * @authors   Diego Perico <perico.oliveiran@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product_reviews" xsi:type="object">Perico\MagentoChallenge\Console\Command\ProductReviews</item>
            </argument>
        </arguments>
    </type>
</config>

